<footer class="p-t-2">
	<div class="container-max p-b-2">
		<div class="row">
			<div class="col-md-15">
				<div class="h3 text-uppercase m-b-2">Unternehmen</div>
				<ul>
					<li><a href="" title="">Über uns</a></li>
					<li><a href="" title="">Karriere</a></li>
					<li><a href="" title="">Kontakt</a></li>
					<li><a href="" title="">Datenschutzerklärung</a></li>
					<li><a href="" title="">AGB</a></li>
					<li><a href="" title="">Impressum</a></li>
				</ul>
			</div>
			<div class="col-md-15">
				<div class="h3 text-uppercase m-b-2">Einkaufen</div>
				<ul>
					<li><a href="" title="">Zahlungsarten</a></li>
					<li><a href="" title="">Versandarten</a></li>
					<li><a href="" title="">Widerrufsrecht</a></li>
					<li><a href="" title="">Warenkorb</a></li>
					<li><a href="" title="">Zur Kasse</a></li>
					<li><a href="" title="">Hilfe</a></li>
				</ul>
			</div>
			<div class="col-md-15">
				<div class="h3 text-uppercase m-b-2">Social Media</div>
				<ul class="social-media">
					<li>Facebook</li>
					<li>Twitter</li>
					<li>Instagram</li>
					<li>Google+</li>
				</ul>
			</div>
			<div class="col-md-15">
				<div class="h3 text-uppercase m-b-2">Zahlung & Versand</div>
				<div class="row">
					<div class="col-md-9">
    				<div class="m-b-1"><img class="img-fluid" class="paypal-plus" src="{{ plugin_path("Theme") }}/images/paypal_plus.svg" alt="Paypal Plus" /></div>
    				<div class="row m-b-1">
    					<div class="col-xs-6">
    						<img class="img-fluid m-b-1" src="{{ plugin_path("Theme") }}/images/sofortueberweisung.svg" alt="Sofortüberweisung" /><br />
    						<img class="img-fluid" src="{{ plugin_path("Theme") }}/images/dhl.svg" alt="DHL" />
    					</div>
    					<div class="col-xs-6"><img class="img-fluid" class="vorkasse" src="{{ plugin_path("Theme") }}/images/vorkasse.svg" alt="Vorkasse" /></div>
    				</div>
					</div>
				</div>
			</div>
			<div class="col-md-15">
				<div class="h3 text-uppercase m-b-2">Sicherheit</div>
        <div class="row">
        	<div class="col-lg-4"><img class="img-fluid" src="{{ plugin_path("Theme") }}/images/trusted-shops.png" alt="Trusted Shops" /></div>
					<div class="col-lg-4"><img class="img-fluid" src="{{ plugin_path("Theme") }}/images/haendlerbund.png" alt="Händlerbund" /></div>
      	</div>
			</div>
		</div>
	</div>
	<div class="bg-1 color-1 p-t-1 p-b-1">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6">*Alle Preise inkl. gesetzlicher MwSt. zzgl. Versandkosten</div>
    			<div class="col-md-6 text-right">&copy; 2017 Strese | Alle Rechte vorbehalten</div>
    		</div>
    	</div>
	</div>
</footer>