{% extends 'Ceres::Homepage.Homepage' %}
{% set lang = services.sessionStorage.getLang() %}

{% set homepageTopsellerID  = config("CeresRockstar.homepage.homepageTopsellerID") %}
{% set homepageHeadlineDE  = config("CeresRockstar.homepage.homepageHeadlineDE") %}
{% set homepageHeadlineEN  = config("CeresRockstar.homepage.homepageHeadlineEN") %}
{% set homepageSublineDE  = config("CeresRockstar.homepage.homepageSublineDE") %}
{% set homepageSublineEN  = config("CeresRockstar.homepage.homepageSublineEN") %}
{% set homepageSectionHeadingDE  = config("CeresRockstar.homepage.homepageSectionHeadingDE") %}
{% set homepageSectionHeadingEN  = config("CeresRockstar.homepage.homepageSectionHeadingEN") %}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set paginatedResult      = services.itemLoader.loadForTemplate('Ceres::ItemList.ItemListView', itemLoaderPresets.categoryList, {'categoryId':17, 'page':1, 'items':8, 'facets': facetParams, 'sorting': itemSort}) %}

{% set itemList             = paginatedResult.documents %}

{# extends getPartial('page-design') #}

{% block PageBody %}

{{ component( "Ceres::ItemList.Components.ItemList") }}

<div class="container-max m-b-1">
    <div class="carousel slide" data-interval="5000" data-ride="carousel" id="carousel-example">
        <div class="carousel-inner" id="carousel-content">
					<div class="carousel-item active">
						<a href="">
							<img class="img-fluid" src="{{ plugin_path("Theme") }}/images/home-teaser-1.jpg">
              <div class="carousel-caption">
                <h2>Color&Care</h2>
                <p>Pflege und Schutz für coloriertes Haar</p>
                <button class="btn btn-primary">shop now</button>
              </div>
						</a>
					</div>
        </div>
        <a class="left carousel-control" href="#carousel-example" data-slide="prev"><i class="icon-prev  fa fa-angle-left"></i></a>
        <a class="right carousel-control" href="#carousel-example" data-slide="next"><i class="icon-next fa fa-angle-right"></i></a>
    </div>
</div>
<div class="container-max">
	<div class="row">
    	<div class="col-md-5">
    		<img src="{{ plugin_path("Theme") }}/images/home-teaser-haare.jpg" alt="" />
    	</div>
    	<div class="col-md-4">
    		<div class="row m-b-1">
    			<div class="col-xs-6"><img src="{{ plugin_path("Theme") }}/images/home-teaser-makeup.jpg" alt="" /></div>
    			<div class="col-xs-6"><img src="{{ plugin_path("Theme") }}/images/home-teaser-duefte.jpg" alt="" /></div>
    		</div>
    		<div><img src="{{ plugin_path("Theme") }}/images/home-teaser-maenner.jpg" alt="" /></div>
    	</div>
    	<div class="col-md-3">
    		<img src="{{ plugin_path("Theme") }}/images/home-teaser-haut.jpg" alt="" />
    	</div>
	</div>
</div>
<div class="container-max p-t-2">
    <ul class="product-list row grid">
{% for item in itemList %}
        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            {% include "Ceres::Category.Item.Partials.CategoryListItem" with { 'item': item } %}
        </li>
{% endfor %}
    </ul>
</div>      
<div class="container-max">
	<div class="bg-2 p-t-3 p-b-3 service-teaser">
		<div class="row">
    		<div class="col-md-3">
    			<img src="{{ plugin_path("Theme") }}/images/auswahl-icon.svg" alt="" />
    			<div class="spec-m-1 h3 h-style-1">Riesen Auswahl</div>
    			<p>8.000 Artikel</p>
    		</div>
    		<div class="col-md-3">
    			<img src="{{ plugin_path("Theme") }}/images/versand-icon.svg" alt="" />
    			<div class="h3 h-style-1">Kostenloser Versand</div>
    			<p>Ab 50&euro; deutschlandweit</p>
    		</div>
    		<div class="col-md-3">
    			<img src="{{ plugin_path("Theme") }}/images/sicher-einkaufen-icon.svg" alt="" />
    			<div class="h3 h-style-1">Sicher Einkaufen</div>
    			<p>SSL Datenschutz</p>
    		</div>
    		<div class="col-md-3">
    			<img src="{{ plugin_path("Theme") }}/images/service-hotline-icon.svg" alt="" />
    			<div class="h3 h-style-1">Service Hotline</div>
    			<p>0341 962 51 14</p>
    		</div>
    	</div>
	</div>
</div>
<div class="container-max p-t-2">
	<h2 class="h-style-1 m-b-2">Shop Strese - Haarpflege und Hautkosmetik vom Fachmann</h2>
	<div class="row p-b-2">
		<div class="col-md-9">
			<p class="m-b-2">Ein perfektes Haarstyling und eine sehr gute Haarpflege sind in der heutigen Zeit besonders wichtig, denn Ihr Haar wird tagtäglich durch Umwelteinflüsse und die Benutzung von Haartrocknern, Bürsten oder Glätteisen gestresst. Störrisches und widerspenstiges Haar ist ein Ärgernis, besonders wenn es morgens schnell gehen muss oder ein wichtiger Termin ansteht. Genau um solche Dinge kümmern wir uns, denn das können wir am Besten.</p> 
			<p class="m-b-0">Wer steht hinter dem Strese-Shop?</p>
			<p>Hinter unserem Onlineshop steht ein 1956 gegründeter Meisterbetrieb, der seit dem Jahr 1992 von Frank Strese geführt wird. Wir sind ein über 40 köpfiges Team und der erfolgreichste Friseursalon in Leipzig. überzeugen Sie sich von unserer Professionalität und unserem Können. Besuchen Sie einen unserer Salons und lassen Sie sich von qualifiziertem Personal verwöhnen. Wir stellen höchste Ansprüche an unsere Arbeit und bieten Ihnen eine ausführliche Beratung zu allen Fragen rund um Ihr Haar. Wir verwenden nur hochwertige Friseurprodukte, sehr gutes Friseurzubehör und besitzen zudem eine vielfältige Auswahl an dazugehörigem Friseurbedarf ganz nach Wunsch und Bedarf.</p>
			<p class="m-b-2">Wollen Sie mehr wissen? Schauen Sie selbst. www.salon-strese.de Unsere Referenzen sprechen für sich. Wir sind bei Modenschauen und Fotoshootings vertreten, arbeiten in den Bereichen Maske und Haarstyling bei Fernsehproduktionen und sind mehrfach ausgezeichnete Friseurmeister. Kommen Sie vorbei und lernen Sie uns persönlich kennen. Wir freuen uns auf Sie.</p>
			<p class="m-b-0">Was können wir besonders gut?</p>
			<p>Diese Frage ist leicht zu beantworten, denn wenn es um Ihr Haar geht, gibt es nichts, was wir nicht für Sie tun können. Sie wollen eine Haarverlängerung? Sie suchen eine leuchtende Haartönung oder eine brillante Haarfarbe? Sie brauchen gutes Friseurzubehör oder neuen Friseurbedarf? Kommen Sie zu uns oder werfen Sie einen Blick in unseren Onlineshop. Wir haben, was Sie sich wünschen. In unserem Strese-Shop finden Sie professionelle Friseurprodukte, alles rund um das Thema Friseurbedarf, sowie eine große Auswahl von Friseurzubehör. Sie benötigen eine Haarfarbe mit Grauwertreduzierung? Sie suchen eine erfrischende Farbspülung für coloriertes Haar oder das perfekte Haarstyling für feines Haar? Wir haben es. Bei unseren Markenherstellern werden Sie fündig. Suchen Sie in den Produktpaletten von Paul Mitchell, Alterna, Redken oder Kerastase. Mit Sicherheit ist ein passendes Produkt für Sie dabei.</p>
			<p class="m-b-2">Wir lassen Sie nicht allein, wenn es um Ihr Haar geht. Haben Sie Fragen zu Ihrem Haarstyling oder sind unsicher, welche Haarpflege die Richtige für Sie ist? Kein Problem. Kommen Sie in unseren Salons vorbei oder nehmen Sie Kontakt auf. Wir beraten Sie gern. Unsere Angebotspalette ist nicht nur in unserem Onlineshop groß.</p>
			<p class="m-b-0">Haarpflege - Das bekommen Sie bei uns</p>
			<p>Brauchen Sie einen neuen Haarschnitt, passenden Friseurbedarf oder ein einfach anzuwendendes Haarstyling? Sind Sie auf der Suche nach hochwertigen Pflege- und Kosmetikprodukten? Planen Sie eine Hochzeit und möchten an diesem Tag besonders schön aussehen? Für all das und noch viel mehr sind wir da. Sie bekommen in unseren Salons vom einfachen Haarschnitt, über eine frische Haartönung oder Haarverlängerung, bis hin zu edlen Hochsteckfrisuren für besondere Anlässe einfach alles. Wir haben immer die neuesten Haarschnitte im Angebot und beraten Sie bei Problemen wie Haarausfall, schuppigem Haar oder sensibler Kopfhaut. Neben allen Fragen rund um das Thema Haarpflege, bieten wir außerdem ein vielseitiges Angebot im Bereich Kosmetik.</p>
			<p>Unser Strese Meisterbetrieb hat sich darauf spezialisiert, das Beste für Sie und Ihr Haar zu tun. Sie werden bei uns immer Antworten auf alle Ihre Fragen rund um die Themen Friseurbedarf, Friseurprodukte und das richtige Friseurzubehör bekommen. Besuchen Sie einen unserer Salons und lassen Sie sich im Bereich Haarpflege und Styling ausführlich beraten. Nichts ist so ärgerlich, wie eine verdorbene Haarfarbe, eine nicht deckende Haartönung oder eine schlecht gemachte Haarverlängerung. Gönnen Sie Ihrem Haar nur das Beste, damit Sie jeden Morgen mit einem strahlenden Lächeln und einer perfekt sitzenden Frisur aus dem Haus gehen können.</p>
		</div>
		<div class="col-md-3">
    		<img class="img-fluid" src="{{ plugin_path("Theme") }}/images/home-teaser-text-rgt.png" alt="" />
		</div>
	</div>
</div>
<div id="newsletter" class="p-t-3 p-b-3">
	<div class="h3 h-style-1 m-b-1">Newsletter</div>
	<p>Gerne halten wir Sie auf dem Laufenden</p>
	<form>
		<div>
			<input type="text" name="newsletter" value="E-Mail Adresse eingeben" />
			<button type="submit" name="">Anmelden</button>
		</div>
	</form>
</div>

{% endblock %} 	