{% extends 'Ceres::Homepage.Homepage' %}
{% set lang = services.sessionStorage.getLang() %}

{% set homepageTopsellerID  = config("CeresRockstar.homepage.homepageTopsellerID") %}
{% set homepageHeadlineDE  = config("CeresRockstar.homepage.homepageHeadlineDE") %}
{% set homepageHeadlineEN  = config("CeresRockstar.homepage.homepageHeadlineEN") %}
{% set homepageSublineDE  = config("CeresRockstar.homepage.homepageSublineDE") %}
{% set homepageSublineEN  = config("CeresRockstar.homepage.homepageSublineEN") %}
{% set homepageSectionHeadingDE  = config("CeresRockstar.homepage.homepageSectionHeadingDE") %}
{% set homepageSectionHeadingEN  = config("CeresRockstar.homepage.homepageSectionHeadingEN") %}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set paginatedResult      = services.itemLoader.loadForTemplate('Ceres::ItemList.ItemListView', itemLoaderPresets.categoryList, {'categoryId':17, 'page':1, 'items':8, 'facets': facetParams, 'sorting': itemSort}) %}

{% set itemList             = paginatedResult.documents %}

{# extends getPartial('page-design') #}

{% block PageBody %}

{{ component( "Ceres::ItemList.Components.ItemList") }}

<div class="container-max m-b-1">
    <div class="carousel slide" data-interval="5000" data-ride="carousel" id="carousel-example">
        <div class="carousel-inner" id="carousel-content">
					<div class="carousel-item active">
						<a href="">
							<img class="img-fluid" src="{{ plugin_path("Theme") }}/images/home-teaser-1.jpg">
              <div class="carousel-caption">
                <h2>Color&Care</h2>
                <p>Pflege und Schutz für coloriertes Haar</p>
                <button class="btn btn-primary">shop now</button>
              </div>
						</a>
					</div>
        </div>
        <a class="left carousel-control" href="#carousel-example" data-slide="prev"><i class="icon-prev  fa fa-angle-left"></i></a>
        <a class="right carousel-control" href="#carousel-example" data-slide="next"><i class="icon-next fa fa-angle-right"></i></a>
    </div>
</div>
<div class="container-max">
	<div class="row">
    	<div class="col-md-5">
    		<img src="{{ plugin_path("Theme") }}/images/home-teaser-haare.jpg" alt="" />
    	</div>
    	<div class="col-md-4">
    		<div class="row m-b-1">
    			<div class="col-xs-6"><img src="{{ plugin_path("Theme") }}/images/home-teaser-makeup.jpg" alt="" /></div>
    			<div class="col-xs-6"><img src="{{ plugin_path("Theme") }}/images/home-teaser-duefte.jpg" alt="" /></div>
    		</div>
    		<div><img src="{{ plugin_path("Theme") }}/images/home-teaser-maenner.jpg" alt="" /></div>
    	</div>
    	<div class="col-md-3">
    		<img src="{{ plugin_path("Theme") }}/images/home-teaser-haut.jpg" alt="" />
    	</div>
	</div>
</div>

<div class="container-max">
	<h2 class="h-style-1">Shop Strese - Haarpflege und Hautkosmetik vom Fachmann</h2>
	<div class="row">
		<div class="col-md-9">
			<p class="m-b-3">Ein perfektes Haarstyling und eine sehr gute Haarpflege sind in der heutigen Zeit besonders wichtig, denn Ihr Haar wird tagtäglich durch Umwelteinflüsse und die Benutzung von Haartrocknern, Bürsten oder Glätteisen gestresst. Störrisches und widerspenstiges Haar ist ein Ärgernis, besonders wenn es morgens schnell gehen muss oder ein wichtiger Termin ansteht. Genau um solche Dinge kümmern wir uns, denn das können wir am Besten.</p> 
			<p>Wer steht hinter dem Strese-Shop?</p>
			<p>Hinter unserem Onlineshop steht ein 1956 gegründeter Meisterbetrieb, der seit dem Jahr 1992 von Frank Strese geführt wird. Wir sind ein über 40 köpfiges Team und der erfolgreichste Friseursalon in Leipzig. überzeugen Sie sich von unserer Professionalität und unserem Können. Besuchen Sie einen unserer Salons und lassen Sie sich von qualifiziertem Personal verwöhnen. Wir stellen höchste Ansprüche an unsere Arbeit und bieten Ihnen eine ausführliche Beratung zu allen Fragen rund um Ihr Haar. Wir verwenden nur hochwertige Friseurprodukte, sehr gutes Friseurzubehör und besitzen zudem eine vielfältige Auswahl an dazugehörigem Friseurbedarf ganz nach Wunsch und Bedarf.</p>
			<p class="m-b-3">Wollen Sie mehr wissen? Schauen Sie selbst. www.salon-strese.de Unsere Referenzen sprechen für sich. Wir sind bei Modenschauen und Fotoshootings vertreten, arbeiten in den Bereichen Maske und Haarstyling bei Fernsehproduktionen und sind mehrfach ausgezeichnete Friseurmeister. Kommen Sie vorbei und lernen Sie uns persönlich kennen. Wir freuen uns auf Sie.</p>
			<p>Was können wir besonders gut?</p>
			<p class="m-b-3">Diese Frage ist leicht zu beantworten, denn wenn es um Ihr Haar geht, gibt es nichts, was wir nicht für Sie tun können. Sie wollen eine Haarverlängerung? Sie suchen eine leuchtende Haartönung oder eine brillante Haarfarbe? Sie brauchen gutes Friseurzubehör oder neuen Friseurbedarf? Kommen Sie zu uns oder werfen Sie einen Blick in unseren Onlineshop. Wir haben, was Sie sich wünschen. In unserem Strese-Shop finden Sie professionelle Friseurprodukte, alles rund um das Thema Friseurbedarf, sowie eine große Auswahl von Friseurzubehör. Sie benötigen eine Haarfarbe mit Grauwertreduzierung? Sie suchen eine erfrischende Farbspülung für coloriertes Haar oder das perfekte Haarstyling für feines Haar? Wir haben es. Bei unseren Markenherstellern werden Sie fündig. Suchen Sie in den Produktpaletten von Paul Mitchell, Alterna, Redken oder Kerastase. Mit Sicherheit ist ein passendes Produkt für Sie dabei.</p>
			<p>Wir lassen Sie nicht allein, wenn es um Ihr Haar geht. Haben Sie Fragen zu Ihrem Haarstyling oder sind unsicher, welche Haarpflege die Richtige für Sie ist? Kein Problem. Kommen Sie in unseren Salons vorbei oder nehmen Sie Kontakt auf. Wir beraten Sie gern. Unsere Angebotspalette ist nicht nur in unserem Onlineshop groß.</p>
			<p>Haarpflege - Das bekommen Sie bei uns</p>
			<p>Brauchen Sie einen neuen Haarschnitt, passenden Friseurbedarf oder ein einfach anzuwendendes Haarstyling? Sind Sie auf der Suche nach hochwertigen Pflege- und Kosmetikprodukten? Planen Sie eine Hochzeit und möchten an diesem Tag besonders schön aussehen? Für all das und noch viel mehr sind wir da. Sie bekommen in unseren Salons vom einfachen Haarschnitt, über eine frische Haartönung oder Haarverlängerung, bis hin zu edlen Hochsteckfrisuren für besondere Anlässe einfach alles. Wir haben immer die neuesten Haarschnitte im Angebot und beraten Sie bei Problemen wie Haarausfall, schuppigem Haar oder sensibler Kopfhaut. Neben allen Fragen rund um das Thema Haarpflege, bieten wir außerdem ein vielseitiges Angebot im Bereich Kosmetik.</p>
			<p class="m-b-3">Egal ob Sie sich einfach nur informieren möchten, auf der Suche nach passenden Produkten für Haarpflege, Haarstyling oder einem neuen Haarschnitt sind - in unseren Salons werden Sie fündig. Unser Angebot ist so vielfältig und einzigartig wie Ihr Haar. Sprechen Sie uns an. Wir unterstützen Sie sowohl im Privat- als auch im Geschäftsbereich. Falls Sie Stylisten für eine Modenschau suchen, sind Sie bei uns genauso an der richtigen Adresse, als wenn Sie für einen romantischen Abend zu Zweit eine wunderschöne Frisur und ein dazu passendes Make-up unserer Visagisten brauchen.</p>
			<p>Alles für die richtige Haarpflege</p>
			<p>Das perfekte Haarstyling ist längst nicht mehr nur ein Thema für die moderne Frau von heute. Auch für Männer ist es ein fester Bestandteil der täglichen Körperpflege geworden. Die wichtigste Voraussetzung, damit Sie Ihr Haar Tag für Tag gut stylen können, ist ein individueller Schnitt. Was nützen Ihnen hochwertige Friseurprodukte und das beste Friseurzubehör, wenn Sie mit Ihrem Haarschnitt nicht zufrieden sind?</p>
			<p>Wir helfen Ihnen dabei. In unseren Salons erhalten Sie eine Beratung, die auf Ihr Haar und Ihren Typ abgestimmt ist. Sie müssen keinen 08/15 Schnitt wählen, im Gegenteil. Unser qualifiziertes Personal steht Ihnen bei der Entscheidung für den richtigen Schnitt mit Rat und Tat zur Seite. Es ist völlig unerheblich, ob Sie Ihr Haar lang tragen möchten oder kurz. Ob Sie sich für eine Haarverlängerung, eine Dauerwelle oder eine neue Haarfarbe interessieren. Ihre Frisur muss zu Ihnen passen, denn Sie sollen sich beim Blick in den Spiegel rundum wohlfühlen.</p>
			<p>Erst mit dem richtigen Haarschnitt können Sie sich den Details für ein passendes Haarstyling oder einer neuen Haarfarbe zuwenden. Lassen Sie sich auch in diesen Fragen von uns beraten. Leiden Sie an Haarausfall? Haben Sie trockenes Haar? Suchen Sie das richtige Haarstyling für eine perfekte Glättung? Was immer Sie brauchen, verwenden Sie dafür die hochwertigen Friseurprodukte aus unserem Shop, um Ihrem Haar etwas Gutes zu tun. Haarpflege muss nicht teuer sein, sie muss nur zu Ihrem Kopf und Ihrem täglichen Haarstyling passen. Ein normales Shampoo ist für strapaziertes Haar ungeeignet. Dasselbe gilt für eine Haartönung, die nicht zu Ihrer aktuellen Haarfarbe passt. Geben Sie Ihrem Haar, was es braucht. Schuppiges Haar benötigt ein Schuppenshampoo, coloriertes Haar eine Farbspülung oder eine besondere Haarwäsche für gefärbtes Haar.</p>
			<p class="m-b-3">In unserem Strese-Shop finden Sie dafür eine riesige Auswahl der unterschiedlichsten Produkte in den Bereichen Haarpflege und Kosmetik. Namenhafte Hersteller wie Babor, Loreal, La Prairie, Wella oder Goldwell sind mit ihren vielseitig einsetzbaren Produkten bei uns zu finden. Sie müssen nicht durch mehrere Onlineshops stöbern, um ein Shampoo für schuppiges Haar und ein weiteres für sensible Kopfhaut zu finden. Bei uns bekommen Sie alles, was Sie täglich benötigen, um Haut und Haar richtig zu pflegen. Eine frische Haarfarbe für coloriertes Haar, eine sehr gute Haartönung oder einen Hitzeschutz für das Haar, in unserem Strese-Shop finden Sie all das und noch viel mehr.</p>
			<p>Vergessen Sie Ihren Körper nicht</p>
			<p>Es gibt so vieles, was bei Thema Haarstyling und Haarpflege beachtet werden muss, dass die Haut häufig zu kurz kommt. Nicht nur Ihr Haar braucht passende Friseurprodukte und ein gutes Friseurzubehör. Gönnen Sie Ihrem Körper die gleiche ausführliche Pflege und schauen Sie nach passenden Kosmetikprodukten speziell für Ihren Hauttyp. Unser Strese-Shop bietet Ihnen auch in diesem Bereich eine große Auswahl hochwertiger Kosmetik von Markenherstellern wie La Prairie, Loreal, Wella, Babor oder Goldwell.</p>
			<p class="m-b-3">Schwere Beine nach einem langen Tag sind genauso lästig wie ein Sonnenbrand, weil Ihrer Haut der nötige Sonnenschutz fehlt. Wir haben für Sie eine große Anzahl passender Pflegeprodukte zusammengestellt. Verwöhnen Sie sich von Kopf bis Fuß. Suchen Sie nach einem neuen Duft für sich selbst oder eine geliebte Person? Sind Ihre Lippen spröde, ihre Augen müde und ihre Gesichtshaut trocken und angespannt? Dagegen können Sie etwas tun. Reichhaltige Tages- und Nachtpflegeprodukte finden Sie in unserem Kosmetikbereich im Strese-Shop genauso wie einmalige Gesichtsmasken oder eine hautschützende Reinigungslotion, die Sie individuell für Ihren Hauttyp auswählen können.</p>
			<p>Spezielle Haarpflege für den Mann</p>
			<p class="m-b-3">Das Haar und die Haut von Männern sind anders und brauchen eine besondere Pflege. In unserem Onlineshop steht Ihnen dafür ein ganz eigener Bereich zur Verfügung. Sie finden dort Friseurbedarf aller Art, können zwischen unzähligen Produkten zur Haarpflege wählen oder sich speziell nach Kosmetik für Ihre Haut umschauen. Unsere namenhaften Hersteller von American Crew, Wella, Alterna oder Babor bieten Ihnen viele hochwertige Produkte an. Sollten Sie unsicher sein, welche Pflege für Sie und Ihr Haar richtig ist, kontaktieren Sie uns. Wir helfen Ihnen bei der Auswahl.</p>
			<p>Das sind wir</p>
			<p>Unser Strese Meisterbetrieb hat sich darauf spezialisiert, das Beste für Sie und Ihr Haar zu tun. Sie werden bei uns immer Antworten auf alle Ihre Fragen rund um die Themen Friseurbedarf, Friseurprodukte und das richtige Friseurzubehör bekommen. Besuchen Sie einen unserer Salons und lassen Sie sich im Bereich Haarpflege und Styling ausführlich beraten. Nichts ist so ärgerlich, wie eine verdorbene Haarfarbe, eine nicht deckende Haartönung oder eine schlecht gemachte Haarverlängerung. Gönnen Sie Ihrem Haar nur das Beste, damit Sie jeden Morgen mit einem strahlenden Lächeln und einer perfekt sitzenden Frisur aus dem Haus gehen können.</p>
		</div>
		<div class="col-md-3">
    		<img class="img-fluid" src="{{ plugin_path("Theme") }}/images/home-teaser-text-rgt.jpg" alt="" />
		</div>
	</div>
</div>
<div id="newsletter" class="p-t-3 p-b-3">
	<div class="h3 h-style-1">Newsletter</div>
	<p>Gerne halten wir Sie auf dem Laufenden</p>
</div>

{% endblock %} 	